# Data Extraction

### Import Essential Libraries

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation  
> Matplotlib : Low-level library for Data Visualization  
> Seaborn : Higher-level library for Data Visualization

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

Dataset from Kaggle : **"CO2 Emission by Vehicles"**     
Source: https://www.kaggle.com/datasets/debajyotipodder/co2-emission-by-vehicles/data

The dataset is `CO2 Emissions_Canada.csv`; hence we use the `read_csv` function from Pandas.

In [2]:
df = pd.read_csv('CO2 Emissions_Canada.csv')
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

### About Dataset
**Make**: Company of the vehicle  
**Model**: Car Model  
**Vehicle Class**: Class of vehicle depending on their utility, capacity and weight  
**Engine Size(L)**: Size of engine used in Litre  
**Cylinders**: Number of cylinders (engine’s power unit where fuel combustion takes place to generate power that moves a car.)  
**Transmission**: Transmission type with number of gears (3-10) 
- A = Automatic
- AM = Automated manual
- AS = Automatic with select shift
- AV = Continuously variable   
- M = Manual

**Fuel Type**: Type of fuel used
- X = Regular gasoline
- Z = Premium gasoline
- D = Diesel
- E = Ethanol (E85)
- N = Natural gas

**Fuel Consumption City (L/100 km)**: Fuel consumption in city roads in litres per 100 kilometres  
**Fuel Consumption Hwy (L/100 km)**: Fuel consumption in highways in litres per 100 kilometres  
**Fuel Consumption Comb (L/100 km)**: The combined fuel consumption (55% city, 45% highway) in litres per 100 kilometres  
**Fuel Consumption Comb (mpg)**: The combined fuel consumption (55% city, 45% highway) in mile per gallon  
**CO2 Emissions(g/km)**: The tailpipe emissions of carbon dioxide in grams per kilometre for combined city and highway driving

In [3]:
print("Data type : ", type(df))
print("Data dims : ", df.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (7385, 12)

In [4]:
# Information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [5]:
# Unique value of each column
df.nunique()

Make                                  42
Model                               2053
Vehicle Class                         16
Engine Size(L)                        51
Cylinders                              8
Transmission                          27
Fuel Type                              5
Fuel Consumption City (L/100 km)     211
Fuel Consumption Hwy (L/100 km)      143
Fuel Consumption Comb (L/100 km)     181
Fuel Consumption Comb (mpg)           54
CO2 Emissions(g/km)                  331
dtype: int64

### Data types

**Make**: Categorical   
**Model**: Categorical   
**Vehicle Class**: Categorical   
**Engine Size(L)**: Numerical  
**Cylinders**: Numerical  
**Transmission**: Categorical  
**Fuel Type**: Categorical  
**Fuel Consumption City (L/100 km)**: Numerical  
**Fuel Consumption Hwy (L/100 km)**: Numerical    
**Fuel Consumption Comb (L/100 km)**: Numerical  
**Fuel Consumption Comb (mpg)**: Numerical  
**CO2 Emissions(g/km)**: Numerical

# Data Cleaning

In [6]:
# Create a copy of the dataset
df_clean = df.copy()

### Check for Missing Data

In [7]:
df.isnull().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

There are no missing data in any of the columns.

### Check for Duplicated Data

In [8]:
print("Number of duplicated data:", df.duplicated().sum())

Number of duplicated data: 1103

In [9]:
# Extract and Display the rows that are duplicated
dfDuplicated = df[df.duplicated() == True]
dfDuplicated.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
1075,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
1076,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,7.7,10.0,28,230
1081,ALFA ROMEO,4C,TWO-SEATER,1.8,4,AM6,Z,9.7,6.9,8.4,34,193
1082,ASTON MARTIN,DB9,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
1084,ASTON MARTIN,V8 VANTAGE,TWO-SEATER,4.7,8,AM7,Z,17.4,11.3,14.7,19,338

In [10]:
# Drop the duplicated rows
df_clean = df.drop_duplicates()
print("Data dims : ", df_clean.shape)

Data dims :  (6282, 12)

### Create a new column for Number of Gears

In [11]:
# Create a copy of the dataset
df_clean2 = df_clean.copy()

# Extract number of gears from 'Transmission' column
df_clean2['Number of Gears'] = df_clean2['Transmission'].str.extract(r'(\d+)', expand=False)

# Remove number of gears from 'Transmission' column
df_clean2['Transmission'] = df_clean2['Transmission'].str.replace(r'\d+', '', regex=True)

df_clean2.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),Number of Gears
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196,5
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221,6
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136,7
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255,6
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244,6

In [12]:
# Check for missing values in number of gears column
print("Number of rows with missing values:",df_clean2["Number of Gears"].isnull().sum())

Number of rows with missing values: 241

In [13]:
# Extract rows with null values in the "Number of Gears" column
rows_with_null_gears = df_clean2[df_clean2["Number of Gears"].isnull()]

# Display the extracted rows
rows_with_null_gears.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),Number of Gears
259,CHEVROLET,SPARK,SUBCOMPACT,1.2,4,AV,X,7.7,6.0,6.9,41,159,NaN
342,FORD,C-MAX HYBRID,FULL-SIZE,2.0,4,AV,X,5.6,6.4,6.0,47,138,NaN
415,FORD,FUSION HYBRID,MID-SIZE,2.0,4,AV,X,5.3,5.7,5.5,51,126,NaN
481,HONDA,ACCORD,MID-SIZE,2.4,4,AV,X,9.0,6.6,7.9,36,182,NaN
487,HONDA,ACCORD HYBRID,MID-SIZE,2.0,4,AV,X,4.7,4.9,4.8,59,110,NaN

The percentage of missing values in number of gears column is 3.84% (241/6282) which is small and may not signficiantly impact out analysis. Hence, we have chosen to drop these rows to simplify data analysis and processing.

In [14]:
# Drop the rows with null values in the "Number of Gears" column
df_clean2.dropna(subset=["Number of Gears"], inplace=True)
print("Data dims : ", df_clean2.shape)

Data dims :  (6041, 13)

### Drop Unnecessary Columns
Fuel Consumption Comb (L/100 km) and Fuel Consumption Comb (mpg) measures the same quantity — fuel consumption - but in different units.
We will use Fuel Consumption Comb (L/100 km) only for our investigation.

In [15]:
# Create a copy of the dataset
df_clean3 = df_clean2.copy()

# Drop 'Fuel Consumption Comb (mpg)' column
df_clean3.drop(columns=['Fuel Consumption Comb (mpg)'], inplace=True)
df_clean3.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km),Number of Gears
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,196,5
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,221,6
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,136,7
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,255,6
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,244,6

In [16]:
df_clean2.to_csv('CO2 Emissions_Canada_cleaned.csv')